{
"cookie": "wordpress_logged_in_3a42ae84e4c7e233c854fa3604ec0755=username%8d1393994414%7Ce9aa716b549d3a88ae06bbe83ef8fc41",
"domain" : "http://example.com",
"startUrl" : "http://example.com/shoots"
}
